@model IEnumerable<Core.Models.Car>

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<partial name="~/Views/Partial/Search/_Partial_Index_Search.cshtml"/>

<table class="table table-striped table-hover table-sm">
    <thead class="thead-dark">
        <tr class="d-flex">
            <th class="col-2">
                <a class="text-light font-weight-bold" asp-action="Index" asp-route-order="@ViewData["LicenseNumberParm"]">@Html.DisplayNameFor(model => model.LicenseNumber)</a>
            </th>
            <th class="col-2">
                <a class="text-light font-weight-bold" asp-action="Index" asp-route-order="@ViewData["BrandSortParm"]">@Html.DisplayNameFor(model => model.Brand)</a>
            </th>
            <th class="col-2">
                <a class="text-light font-weight-bold" asp-action="Index" asp-route-order="@ViewData["ModelSortParm"]">@Html.DisplayNameFor(model => model.Model)</a>
            </th>
            <th class="col-2">
                <a class="text-light font-weight-bold" asp-action="Index" asp-route-order="@ViewData["OwnerParm"]">@Html.DisplayNameFor(model => model.Owner)</a>
            </th>
            <th class="col-2">
                <a class="text-light font-weight-bold" asp-action="Index" asp-route-order="@ViewData["DriverParm"]">@Html.DisplayNameFor(model => model.Customer)</a>
            </th>
            <th class="col-2">
                <a class="text-light font-weight-bold" asp-action="Index" asp-route-order="@ViewData["StatusParm"]">@Html.DisplayNameFor(model => model.Status)</a>
            </th>
        </tr>
    </thead>
    <tbody class="border">
        @foreach (var item in Model)
        {
            <tr class="d-flex">
                <td class="col-2">
                    @Html.ActionLink(item.LicenseNumber, "Details", new { id = item.Id })
                </td>
                <td class="col-2">
                    @Html.ActionLink(item.Brand.Name, "Details", "Brands", new { id = item.Brand.Id }, null)
                </td>
                <td class="col-2">
                    @Html.ActionLink(item.Model.Name, "Details", "Models", new { id = item.Model.Id }, null)
                </td>
                <td class="col-2">
                    @if (item.Owner is Core.Models.LeaseCompany)
                    {
                        @Html.ActionLink(item.Owner.Name, "Details", "LeaseCompany", new { id = item.Owner.Id }, null)
                    }
                    else
                    {
                        @Html.ActionLink(item.Customer.Name, "Details", "Customers", new { id = item.Customer.Id }, null)
                    }
                </td>
                <td class="col-2">
                    @Html.ActionLink(item.Customer.Name, "Details", "Customers", new { id = item.Customer.Id }, null)
                </td>
                <td class="col-2">
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>