@model RegistrationViewModel
@{
    ViewData["Title"] = "Registration";
}
<div class="container">
    <partial name="~/Views/Partial/Headers/_Partial_Autocomplete_Form_Header.cshtml" for="@Model.Customer" />
    <partial name="~/Views/Partial/Forms/_Partial_Customer_Form.cshtml" for="@Model.Customer" />

    <hr>

    <partial name="~/Views/Partial/Headers/_Partial_Autocomplete_Form_Header.cshtml" for="@Model.Car" />
    <partial name="~/Views/Partial/Forms/_Partial_Car_Form.cshtml" for="@Model.Car" />
    <hr>

    <partial name="~/Views/Partial/Headers/_Partial_Form_Header.cshtml" for="@Model.Maintenance" />
    <partial name="~/Views/Partial/Forms/_Partial_Maintenance_Form.cshtml" for="@Model.Maintenance" />
</div>


@section styles {
    <link rel="stylesheet" href="~/css/registration.css" />
}

@section scripts {

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.11/jquery.autocomplete.min.js"></script>
    <script src="~/js/scripts/RegisterIndex.js"></script>
    <script>
        $(document).ready(function () {
            let customer = '@Model.Customer.GetType().Name.ToLower()';
            let car = '@Model.Car.GetType().Name.ToLower()';
            let maintenance = '@Model.Maintenance.GetType().Name.ToLower()';
            let brand = 'brand';
            let model = 'model';
            let owner = 'owner';
            let carCustomer = 'customer';

            formAutoComplete(customer);
            formAutoComplete(car);

            initForm(customer);
            initForm(car);

            formNewBtnControl(maintenance);

            populateDropdown(car, brand);
            populateDependentDropdown(car, model, brand, "Brand/");
            populateDropdown(car, owner, $("input[name='radio-owner-group']:checked").val());
            populateDropdown(car, carCustomer);

            newPropertyBtnControl(car, brand);
            newPropertyBtnControl(car, model);

            $('#maintenancespecification-save-btn').click(function (e) {
                e.preventDefault();

                var data = $(this).parents('form').serialize();
                console.log(data);
                data = { data, 'MaintenanceSpecification.Car': $('#car-form').serialize() };


                console.log($('#car-form').serialize());
                console.log(data);
                $.post({
                    url: 'Api/MaintenanceSpecificationsApiEndpoint/',
                    data: JSON.stringify(data),
                    success: (data) => {
                        console.log('Success');
                        console.log(data);
                    },
                    error: (data) => {
                        console.log('Failed');
                        console.log(data);

                    }
                });
            });
        });
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
