@model Core.Models.MaintenanceSpecification

<form action="Api/@Model.GetType().Name.ToLower()sApiEndpoint/" method="post" id="@Model.GetType().Name.ToLower()-form" class="pt-3 border border-top-0 rounded-bottom">
    <div class="container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group d-none">
            <label asp-for="Id" class="control-label"></label>
            <input id="@Model.GetType().Name.ToLower()-id" asp-for="Id" class="form-control" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <label asp-for="Milage" class="control-label"></label>
                <input id="@Model.GetType().Name.ToLower()-milage" asp-for="Milage" class="form-control" />
                <span asp-validation-for="Milage" class="text-danger"></span>
            </div>

            <div class="offset-md-2 col-md-4">
                <label asp-for="Description" class="control-label"></label>
                <input id="@Model.GetType().Name.ToLower()-description" asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col-md-4">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" asp-items="Html.GetEnumSelectList(typeof (Core.Enums.MaintenanceTypeEnum))" class="custom-select"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="offset-md-7 col-md-1 d-flex">
                <button id="@Model.GetType().Name.ToLower()-save-btn" type="button" class="btn btn-success mt-auto">Submit</button>
            </div>
        </div>
    </div>
</form>